@media(min-width: 765px) {
    .heading{
        padding-top:50px;
    }
    
}
body{
    background-image:url('background-2.jpg');
}
@media(max-width:820px){
    .mobile{
        display:block;
    }
    .invisible{
        display:none;
    }
    
    .desktop{
        display:none;
    }
    .infobox-l{
        padding:15px;
    }
    .infobox-r{
        padding:15px;
    }
    
}
@media(min-width:820px){
    .mobile{
        display:none;
    }
    .desktop{
        display:block;
    }
    .about{
        width:75%;
    }
    .infobox-l{
        padding:30px;
    }
    .infobox-r{
        padding:30px;
    }
}
.heading{
    font-family: Crete Round;
  }
  .info{
    letter-spacing:2;
    
  }
  .infobox-l{
    background-color:rgb(255, 255, 255);
    border-radius:10px;
    font-family:sans-serif;
    
    float:left;
    clear:both;
   
  }
  .infobox-r{
    background-color:white;
    border-radius:10px;
    font-family: sans-serif;
    float:right;
    clear:both;
  
  }
  
  